html {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  padding-left: 10vw;
  padding-right: 10vw;
}

body {
  background-color: #00000060;
  height: 100vh;
  overflow: hidden;
  margin: 0px;
  width: 80vw;
  position: relative;
}

body::before {
  background-image: url('../Images/background/bible_intro.jpg');
  content: '';
  position: fixed;
  top: 0;
  left: 10vw;
  width: 80vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  opacity: 1;
  z-index: -1;
  pointer-events: none; /* allows clicks through background */
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2000px;
  z-index: -1;
  opacity: .3;
}

.icon-left{
  position: fixed;
  left: 5vw;
  width: auto;
  height: 6vh;
  transform: translateX(-50%);
  opacity: 0.3;
}

.icon-right{
  position: fixed;
  left: 95vw;
  width: auto;
  height: 6vh;
  transform: translateX(-50%);
  opacity: 0.3;
}

.icon-incarnation{top: 17vh;}
.icon-cross{top: 32vh;}
.icon-grave{top: 47vh;}
.icon-accension{top: 62vh;}
.icon-return{top: 77vh;}

.center-container {
  display: grid;
  grid-template-rows: auto auto; /* Two rows */
  height: 90vh; 
}

.video_container {
  display: grid;
  place-items: center;     /* Centers both horizontally and vertically */
  position: relative;
  max-height: 70vh;
  width: 80vw;
}

.button-main-container {
  display: grid;
  grid-template-columns: auto auto; /* Two rows */ 
  max-height: 20vh;
  width: 80vw;
}

.video-background {
    grid-area: 1 / 1;
    height: 60vw;
    max-height: 70vh;
    max-width: 80vw;
    opacity: .85;
}

.video-cover{
    grid-area: 1 / 1;
    height: auto;
    width: 55vw;
    max-width: 65vh;
    z-index: 4;
}

lite-youtube {
    grid-area: 1 / 1;
    height: auto;
    width: 55vw;
    max-width: 65vh;
    z-index: 1;
}

video {
    grid-area: 1 / 1;
    height: auto;
    width: 55vw;
    max-width: 65vh;
    z-index: 3;
}

.button-container {
  display: grid;
  place-items: center;     /* Centers both horizontally and vertically */
  position: relative;
  max-height: 20vh;
  padding-bottom: 10vh;
  padding-left: 1.5vw;
}

.button-header{
    grid-area: 1 / 1;
    width : auto;
    height: 10vw;
    padding-left: 5vw;
    max-height: 10vh;
    z-index: 1;
    pointer-events: none;
}

.button-banner{
    grid-area: 1 / 1;
    width : 15vw;
    height: 5vw;
    max-height: 5vh;
    opacity: 0.8;
}

.button-banner:hover{
    opacity: 1;
}

.button-text{
    grid-area: 1 / 1;
    width : auto;
    font-size: clamp(1.5vh, 3vw, 3vh);
    max-height: 4vh;
    z-index: 2;
    pointer-events: none;
}

#intro-header{
    padding-right: 35vw;
}

#intro-banner{
    padding-right: 15vw;
}

#intro-text {
    padding-right: 22vw;
}

#promo-banner {
    padding-left: 20vw;
}

#promo-text {
    padding-left: 15vw;
}