body::before {
  background: url("../Images/background/session33.webp");
  background-repeat: no-repeat;
  background-position: center 70%;
  background-size: cover;
  opacity: 1;
}

body::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to right,
    #3580d1 0%,
    #3580d1 6%,           
    rgba(53, 128, 209, 1) 6%,  
    rgba(53, 128, 209, 0) 15%, 
    rgba(53, 128, 209, 0) 85%, 
    rgba(53, 128, 209, 1) 94%, 
    #3580d1 94%,          
    #3580d1 100%);
  z-index: -1;
}

.bible-text{
  line-height: 1.5;
}

.open-background {
  height: 32.96vw;
}


.bible-reading {
  top: 50%;
}

.bible-background {
  height: 75.83vw;
}


#chapter1{top: 9vw;}
#chapter2{top: 13vw;}
#chapter3{top: 17vw;}
#chapter4{top: 21vw;}
#chapter5{top: 25vw;}

#chapter1-banner{top: 10vw;}
#chapter2-banner{top: 14vw;}
#chapter3-banner{top: 18vw;}
#chapter4-banner{top: 22vw;}
#chapter5-banner{top: 26vw;}

.meditation-background {height: 44vw;}
.meditation-item-banner {width: 80%;}

#Meditation1{top: 7vw;}
#Meditation2{top: 11vw;}
#Meditation3{top: 15vw;}
#Meditation4{top: 19vw;}
#Meditation5{top: 23vw;}
#Meditation6{top: 27vw;}
#Meditation7{top: 31vw;}
#Meditation8{top: 35vw;}

#meditation1-banner{top: 7vw;}
#meditation2-banner{top: 11vw;}
#meditation3-banner{top: 15vw;}
#meditation4-banner{top: 19vw;}
#meditation5-banner{top: 23vw;}
#meditation6-banner{top: 27vw;}
#meditation7-banner{top: 31vw;}
#meditation8-banner{top: 35vw;}

.close-background {
  height: 38.96vw;
}

.study-background {height: 44vw;}
.study-item-banner {width: 80%;}
.study-spacer {height: 39vw;}

#Study1{top: 7vw;}
#Study2{top: 11vw;}
#Study3{top: 15vw;}
#Study4{top: 19vw;}
#Study5{top: 23vw;}
#Study6{top: 27vw;}
#Study7{top: 31vw;}
#Study8{top: 35vw;}

#study1-banner{top: 7.6vw;}
#study2-banner{top: 11.6vw;}
#study3-banner{top: 15.6vw;}
#study4-banner{top: 19.6vw;}
#study5-banner{top: 23.6vw;}
#study6-banner{top: 27.6vw;}
#study7-banner{top: 31.6vw;}
#study8-banner{top: 35.6vw;}

.sermon-background {height: 35vw;}
.sermon-item-banner {width: 80%;}

#sermon1{top: 8vw;}
#sermon2{top: 13vw;}
#sermon3{top: 18vw;}
#sermon4{top: 23vw;}

#sermon1-banner{top: 9vw;}
#sermon2-banner{top: 14vw;}
#sermon3-banner{top: 19vw;}
#sermon4-banner{top: 24vw;}