
html {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  padding-left: 10vw;
  padding-right: 10vw;
}

body {
  background-color: #235589;
  overflow-x: hidden;
  margin: 0px;
  width: 80vw;
  position: relative;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 10vw;
  width: 80vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  opacity: 0.7;
  z-index: -1;
  pointer-events: none; /* allows clicks through background */
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
  opacity: .3;
}

.icon-left{
  position: fixed;
  left: 5vw;
  width: auto;
  height: 6vh;
  transform: translateX(-50%);
  opacity: 0.3;
}

.icon-right{
  position: fixed;
  left: 95vw;
  width: auto;
  height: 6vh;
  transform: translateX(-50%);
  opacity: 0.3;
}

.icon-opening{top: 17vh;}
.icon-reading{top: 27vh;}
.icon-commentary{top: 37vh;}
.icon-meditation{top: 47vh;}
.icon-closing{top: 57vh;}
.icon-study{top: 67vh;}
.icon-sermon{top: 77vh;}

.header_content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.space{
  height: 50px;
}

.container {
  position: relative;
  width: 100%;
  margin-left: 0;
}

.title {
  display: block;
  position: relative;
  height: 20vw;
}

.header {
  display: block;
  position: relative;
  height: 13vw;
}

.text {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.video {
  position: relative;
}

.commentary-spacer {
  display: block;
  position: relative;
  height : 15vw;
  pointer-events: none;
}

.session-header {
  display: block;
  position: absolute;
  max-width: 100%;
  height: 20vw;
  left: 25%;
}

.session-header-text-left {
  position: absolute;
  top: 18%;
  right: 66%;
  font-size: 4vw;
  font-weight: bold;
  z-index: 2;
  white-space: nowrap;
}

.session-header-text-right {
  position: absolute;
  top: 43%;
  left: 40%;
  font-size: 4vw;
  font-weight: bold;
  z-index: 2;
  white-space: nowrap;
}

.session-banner-left {
  position: absolute;
  top: 15%;
  left: 7%;
  width: 28%;
  height: 6vw;
  background-color: #749bcb; /* Blue color */
  opacity: 0.7;
  z-index: -1;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.session-banner-right {
  position: absolute;
  top: 40%;
  height: 6vw;
  left: 40%;
  width: 53%;
  background-color: #749bcb;
  opacity: 0.7;
  z-index: -1;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.open-header {
  display: block;
  position: absolute;
  height: 13vw;
  right: 5%;
}

.open-header-text {
  position: absolute;
  top: 35%;
  right: 15%;
  font-size: 3.5vw;
  font-weight: bold;
  z-index: 2;
  white-space: nowrap;
}

.open-banner {
  position: absolute;
  top: 27%;
  height: 6vw;
  right: 15%;
  width: 80%;
  background-color: #96d1d4;
  opacity: 0.8;
  z-index: -1;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.open-text {
  position: absolute;
  top: 52.5%;
  left: 10%;
  right: 10%;
  transform: translateY(-50%);
  color: #000;
  font-size: 1.7vw;
  line-height: 1.6;
  z-index: 2;
  padding: 0 10px;
  text-align: justify;
}

.open-background {
  display: block;
  width: 100%;
}

.bible-header {
  display: block;
  position: absolute;
  max-width: 100%;
  height: 13vw;
  left: 5%;
}

.bible-header-text {
  position: absolute;
  top: 35%;
  left: 10%;
  font-size: 3.5vw;
  font-weight: bold;
  z-index: 2;
  white-space: nowrap;
}

.bible-banner {
  position: absolute;
  top: 27%;
  height: 6vw;
  left: 10%;
  width: 85%;
  opacity: 0.8;
  z-index: -1;
  background-color: #a9a9c8;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.bible-reading {
  position: absolute;
  top: 47%;
  left: 15%;
  right: 15%;
  transform: translateY(-50%);
  color: #000;
  z-index: 2;
  padding: 0 10px;
}

.bible-ref{
  display: block;
  font-size: 2vw;
  line-height: 1.7;
  text-align: center;
}

.bible-text{
  display: block;
  font-size: 1.3vw;
  text-align: justify;
}

.bible-background {
  display: block;
  width: 100%;
}

.commentary-header {
  display: block;
  position: absolute;
  height: 15vw;
  right: 5%;
}

.commentary-header-text {
  position: absolute;
  top: 35%;
  right: 10%;
  font-size: 3.5vw;
  font-weight: bold;
  z-index: 2;
  white-space: nowrap;
}

.commentary-banner {
  position: absolute;
  top: 27%;
  height: 6vw;
  right: 15%;
  width: 80%;
  opacity: 0.8;
  z-index: -1;
  background-color: #a6c9e5;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.commentary-text {
  position: absolute;
  top: 50%;
  left: 10%;
  right: 10%;
  transform: translateY(-50%);
  color: #000;
  font-size: 1.7vw;
  line-height: 1.6;
  z-index: 2;
  padding: 0 10px;
  text-align: justify;
}

.video_container {
  display: block;
  position: relative;
  margin-left: 14%;
  margin-right: 46%;
  height: auto;
  padding-top: 12%;
}

.video-background {
  display: block;
  position: absolute;
  width: 70%;
  height: auto;
}

.video-side-panel {
  display: block;
  position: absolute;
  right: 0;
  width: 17%;
  height: auto;
  z-index: 1;
  pointer-events: none;
}

.chapter-text{
  position: absolute;
  top: 20%;
  right: 5%;
  font-size: 2vw;
  font-weight: bold;
  z-index: 2;
  white-space: nowrap;
  pointer-events: none;
}

.chapter-banner{
  position: absolute;
  height: 3vw;
  right: 0;
  width: 40%;
  z-index: 0;
  opacity: 0.6;
  background-color: #a6c9e5;
}

.chapter-banner:hover{
  opacity: 1;
}

.meditation-header {
  display: block;
  position: absolute;
  max-width: 100%;
  height: 13vw;
  left: 5%;
}

.meditation-header-text {
  position: absolute;
  top: 35%;
  left: 10%;
  font-size: 3.5vw;
  font-weight: bold;
  z-index: 2;
  white-space: nowrap;
}

.meditation-banner {
  position: absolute;
  top: 27%;
  height: 6vw;
  left: 10%;
  width: 85%;
  opacity: 0.8;
  z-index: -1;
  background-color: #ffc8d1;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.meditation-background {
  display: block;
  position: absolute;
  width: 50%;
  z-index: 1;
}

.meditation-text{
  position: absolute;
  left: 10vw;
  font-size: 1.3vw;
  font-weight: bold;
  z-index: 2;
  white-space: nowrap;
}

.meditation-item-banner {
  position: absolute;
  height: 3vw;
  left: 10vw;
  z-index: 0;
  background-color: #ffc8d1;
}

#meditation1-banner{opacity: .9;}
#meditation2-banner{opacity: .85;}
#meditation3-banner{opacity: .8;}
#meditation4-banner{opacity: .75;}
#meditation5-banner{opacity: .7;}
#meditation6-banner{opacity: .65;}
#meditation7-banner{opacity: .6;}
#meditation8-banner{opacity: .55;}
#meditation9-banner{opacity: .5;}

.meditation-spacer {
  display: block;
  position: relative;
  height : 35vw;
  pointer-events: none;
}

.close-header {
  display: block;
  position: absolute;
  height: 16vw;
  right: 5%;
}

.close-header-text {
  position: absolute;
  top: 35%;
  right: 15%;
  font-size: 3.5vw;
  font-weight: bold;
  z-index: 2;
  white-space: nowrap;
}

.close-banner {
  position: absolute;
  top: 27%;
  height: 6vw;
  right: 13%;
  width: 82%;
  opacity: 0.8;
  z-index: -1;
  background-color: #c4d1b4;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.close-text {
  position: absolute;
  top: 52.5%;
  left: 10%;
  right: 10%;
  transform: translateY(-50%);
  color: #000;
  font-size: 1.7vw;
  line-height: 1.6;
  z-index: 2;
  padding: 0 10px;
  text-align: justify;
}

.close-background {
  display: block;
  width: 100%;
}

.study-header {
  display: block;
  position: absolute;
  max-width: 100%;
  height: 13vw;
  left: 5%;
}

.study-header-text {
  position: absolute;
  top: 35%;
  left: 10%;
  font-size: 3.5vw;
  font-weight: bold;
  z-index: 2;
  white-space: nowrap;
}

.study-banner {
  position: absolute;
  top: 27%;
  height: 6vw;
  left: 13%;
  width: 82%;
  opacity: 0.8;
  z-index: -1;
  background-color: #f8c6bb;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.study-background {
  display: block;
  position: absolute;
  width: 50%;
  z-index: 1;
  pointer-events: none;
}

.study-item-banner {
  position: absolute;
  height: 3vw;
  left: 10vw;
  z-index: 0;
  opacity: 0.7;
  background-color: #f8c6bb;
}

.study-item-banner:hover{
  opacity: 1;
}

.study-text{
  position: absolute;
  top: 20%;
  left: 10vw;
  font-size: 1.7vw;
  font-weight: bold;
  z-index: 2;
  white-space: nowrap;
  pointer-events: none;
}

.study-spacer {
  display: block;
  position: relative;
  height : 35vw;
  pointer-events: none;
}

.sermon-header {
  display: block;
  position: absolute;
  max-width: 100%;
  height: 13vw;
  right: 5%;
}

.sermon-header-text {
  position: absolute;
  top: 35%;
  right: 13%;
  font-size: 3.5vw;
  font-weight: bold;
  z-index: 2;
  white-space: nowrap;
}

.sermon-banner {
  position: absolute;
  top: 27%;
  height: 6vw;
  right: 10%;
  width: 85%;
  opacity: 0.8;
  z-index: -1;
  background-color: #bce2e0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.sermon-item-banner {
  position: absolute;
  height: 3vw;
  right: 5vw;
  z-index: 0;
  opacity: 0.7;
  background-color: #bce2e0;
}

.sermon-item-banner:hover{
  opacity: 1;
}

.sermon-text {
  position: absolute;
  right: 10vw;
  font-size: 2vw;
  font-weight: bold;
  z-index: 2;
  white-space: nowrap;
  pointer-events: none;
}

.sermon-background {
  display: block;
  position: absolute;
  right: 0;
  width: 40%;
  z-index: 1;
  pointer-events: none;
}

.sermon-spacer {
  display: block;
  position: relative;
  height : 35vw;
  pointer-events: none;
}

@media only screen and (max-width: 768px) {


}