body::before {background-image: url("../Images/background/light_mob.webp");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
  transform: rotate(180deg);
  transform-origin: center center;}