body::before {
  background: url("../Images/background/session43.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
}


.bible-text{
  line-height: 1.5;
}

.open-background {
  height: 29.84vw;
}


.bible-reading {
  top: 47.5%;
}

.bible-background {
  height: 70.66vw;
}

#chapter1{top: 6.8vw;}
#chapter2{top: 10.8vw;}
#chapter3{top: 14.8vw;}
#chapter4{top: 18.8vw;}
#chapter5{top: 22.8vw;}
#chapter6{top: 26.8vw;}

#chapter1-banner{top: 8vw;}
#chapter2-banner{top: 12vw;}
#chapter3-banner{top: 16vw;}
#chapter4-banner{top: 20vw;}
#chapter5-banner{top: 24vw;}
#chapter6-banner{top: 28vw;}

.meditation-background {height: 40vw;}
.meditation-item-banner {width: 80%;}
.meditation-spacer {height: 35vw;}

#Meditation1{top: 6.8vw;}
#Meditation2{top: 10.8vw;}
#Meditation3{top: 14.8vw;}
#Meditation4{top: 18.8vw;}
#Meditation5{top: 22.8vw;}
#Meditation6{top: 26.8vw;}
#Meditation7{top: 30.8vw;}

#meditation1-banner{top: 7vw;}
#meditation2-banner{top: 11vw;}
#meditation3-banner{top: 15vw;}
#meditation4-banner{top: 19vw;}
#meditation5-banner{top: 23vw;}
#meditation6-banner{top: 27vw;}
#meditation7-banner{top: 31vw;}

.close-background {
  height: 42.68vw;
}

.study-background {height: 48vw;}
.study-item-banner {width: 80%;}
.study-spacer {height: 43vw;}

#Study1{top: 6.8vw;}
#Study2{top: 10.8vw;}
#Study3{top: 14.8vw;}
#Study4{top: 18.8vw;}
#Study5{top: 22.8vw;}
#Study6{top: 26.8vw;}
#Study7{top: 30.8vw;}
#Study8{top: 34.8vw;}
#Study9{top: 38.8vw;}

#study1-banner{top: 7.6vw;}
#study2-banner{top: 11.6vw;}
#study3-banner{top: 15.6vw;}
#study4-banner{top: 19.6vw;}
#study5-banner{top: 23.6vw;}
#study6-banner{top: 27.6vw;}
#study7-banner{top: 31.6vw;}
#study8-banner{top: 35.6vw;}
#study9-banner{top: 39.6vw;}

.sermon-background {height: 35vw;}
.sermon-item-banner {width: 80%;}

#sermon1{top: 7.8vw;}
#sermon2{top: 12.8vw;}
#sermon3{top: 17.8vw;}
#sermon4{top: 22.8vw;}

#sermon1-banner{top: 9vw;}
#sermon2-banner{top: 14vw;}
#sermon3-banner{top: 19vw;}
#sermon4-banner{top: 24vw;}