body::before {background-image: url("../Images/background/session2_mob.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transform: rotate(180deg);
}