body::before {
  background: url("../Images/background/session27.webp");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  opacity: 1;
}

.bible-text{
  line-height: 1.5;
}

.open-background {
  height: 29.04vw;
}


.bible-reading {
  top: 47.5%;
}

.bible-background {
  height: 73.53vw;
}


#chapter1{top: 8.8vw;}
#chapter2{top: 12.8vw;}
#chapter3{top: 16.8vw;}
#chapter4{top: 20.8vw;}
#chapter5{top: 24.8vw;}

#chapter1-banner{top: 10vw;}
#chapter2-banner{top: 14vw;}
#chapter3-banner{top: 18vw;}
#chapter4-banner{top: 22vw;}
#chapter5-banner{top: 26vw;}

.meditation-background {height: 40vw;}
.meditation-item-banner {width: 80%;}
.meditation-spacer {height: 35vw;}

#Meditation1{top: 6.8vw;}
#Meditation2{top: 10.8vw;}
#Meditation3{top: 14.8vw;}
#Meditation4{top: 18.8vw;}
#Meditation5{top: 22.8vw;}
#Meditation6{top: 26.8vw;}
#Meditation7{top: 30.8vw;}

#meditation1-banner{top: 7vw;}
#meditation2-banner{top: 11vw;}
#meditation3-banner{top: 15vw;}
#meditation4-banner{top: 19vw;}
#meditation5-banner{top: 23vw;}
#meditation6-banner{top: 27vw;}
#meditation7-banner{top: 31vw;}

.close-background {
  height: 32.16vw;
}

.study-background {height: 35vw;}
.study-item-banner {width: 80%;}

#Study1{top: 8.8vw;}
#Study2{top: 13.8vw;}
#Study3{top: 18.8vw;}
#Study4{top: 23.8vw;}

#study1-banner{top: 9.6vw;}
#study2-banner{top: 14.6vw;}
#study3-banner{top: 19.6vw;}
#study4-banner{top: 24.6vw;}

.sermon-background {height: 35vw;}
.sermon-item-banner {width: 80%;}

#sermon1{top: 8.8vw;}
#sermon2{top: 14.8vw;}
#sermon3{top: 20.8vw;}

#sermon1-banner{top: 10vw;}
#sermon2-banner{top: 16vw;}
#sermon3-banner{top: 22vw;}